body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery a {
    margin: 5px;
}

.gallery img {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
}

.gallery-item {
    flex: 1 1 calc(25% - 10px); /* 25% width minus margin */
    box-sizing: border-box;
    max-width: calc(25% - 10px);
}

@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 calc(50% - 10px); /* 50% width minus margin */
        max-width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 calc(100% - 10px); /* 100% width minus margin */
        max-width: calc(100% - 10px);
    }
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: #007BFF;
}

footer a:hover {
    text-decoration: underline;
}

.passenger-list {
    text-align: left;
    margin: 20px auto;
    max-width: 600px;
}

.passenger-list th, .passenger-list td {
    padding: 8px;
    border: 1px solid #ddd;
}

.passenger-list th {
    background-color: #f4f4f4;
}
